<div>
  <div>
    <h1>
      Photo #<%= @the_photo.id %> details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" alt="the photo"> />
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% @the_photo.fan_list.each_with_index do |fan, index| %>
          <% fan_string = ""  %>
          <% if index == @the_photo.fan_list.count - 1 %>
            <% fan_string += "and #{fan.username}" %>
          <% else %>
            <% fan_string += "#{fan.username}, " %>
          <% end %>
          <%= fan_string%>
        <% end %>
      </dd>

      <dt>Add a fan</dt>
      <dd>
        <form action="/insert_like" method="post">
          <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">
          <button>Like</button>
        </form>
      </dd>
    <%# <% if @current_user.id == @the_photo.poster.id%> %>
      <dt>
        Edit photo
      </dt>

      <dd>
        <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
            <label for="image_box">
              Image
            </label>
            <input type="text" id="image_box" name="query_image" placeholder="Enter a URL for the image" value="<%= @the_photo.image %>">

            <label for="caption_box">
              Caption
            </label>
            <textarea id="caption_box" name="query_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>

          <button>
            Update photo
          </button>
        </form>
      </dd>

      <dt>Delete photo</dt>
      <dd>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a>
      </dd>
      
    <%# <% end %> %>
    </dl>
  </div>
</div>


<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
    <tr>
      <td><%= comment.commenter.username%></td>
      <td><%= comment.body %></td>
      <td><%= time_ago_in_words(comment.created_at) %> ago</td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>

</div>
